/*#include <windows.h>*/

#include "resources.h"

ICON_APP                ICON    "win\\Interface Builder.ico"

ICON_WINDOW             ICON    "win\\Window.ico"
ICON_BOX                ICON    "win\\Box.ico"
ICON_TEXT               ICON    "win\\Text.ico"
ICON_ENTRYFIELD         ICON    "win\\Entryfield.ico"
ICON_COMBOBOX           ICON    "win\\Combobox.ico"
ICON_LISTBOX            ICON    "win\\Listbox.ico"
ICON_CONTAINER          ICON    "win\\Container.ico"
ICON_TREE               ICON    "win\\Tree.ico"
ICON_MLE                ICON    "win\\MLE.ico"
ICON_RENDER             ICON    "win\\Render.ico"
ICON_BUTTON             ICON    "win\\Button.ico"
ICON_RANGED             ICON    "win\\Ranged.ico"
ICON_BITMAP             ICON    "win\\Bitmap.ico"
ICON_NOTEBOOK           ICON    "win\\Notebook.ico"
ICON_NOTEBOOK_PAGE      ICON    "win\\NotebookPage.ico"
ICON_HTML               ICON    "win\\HTML.ico"
ICON_CALENDAR           ICON    "win\\Calendar.ico"
ICON_PADDING            ICON    "win\\Padding.ico"
ICON_MENU               ICON    "win\\Menu.ico"

ICON_FONT               ICON    "win\\Font.ico"
ICON_COLOR              ICON    "win\\Color.ico"

BITMAP_PLACEHOLD        BITMAP  "win\\Placehold.bmp"
